<%- include('header') -%>

<div class="content-container">
    <div class="nav-container">
        <ul id="nav-link">
            <% if (listTitle != 'Work List'){ %>
                <li class="filter-active"><a href="/">Today</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
            <% } else { %>
                <li><a href="/">Today</a></li>
                <li class="filter-active"><a href="/work">Work</a></li>
                    <li><a href="/about">About</a></li>
            <% } %>
        </ul>

    </div>

    <div class="box" id='heading'>
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for (item of newListItems) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= item %></p>
            </div>
        <% } %>
        <form id="form" class='item' method="post" action="/">
            <input type="text" id ="newItem" name="newItem" placeholder="Type your item" autocomplete="off">
            <button type="submit" name="listBtn" value=<%= listTitle %>>+</button>
        </form>
    </div>
</div>
<%- include('footer') -%>